@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@600&family=Roboto:wght@300&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
}

.card {
    width: 700px;
    display: flex;
    justify-content: center;
    /* Permet de laisser bloqué le côté gauche */
    align-items: center;
}

.hr{
    margin-left: 140px;
    margin-right: 140px;
    height: 3px;
    background-color:#2980b9;
}

/* ----------------------------------------- LEFT SIDE ----------------------------------------- */

.card-background_background {
    position: relative;
    cursor: pointer;
    width: 35%;
    height: 460px;
    background-size: cover;
    background-image: url("./img/img2.jfif");
    box-shadow: -8px 8px 20px rgb(0, 0, 0, 0.15), -8px -8px 20px rgb(0, 0, 0, 0.15);
}

.img-front {
    position: absolute;
    width: 180%;
    bottom: 10%;
    left: -42%;
    z-index:5;
}


/* ----------------------------------------- RIGHT SIDE ----------------------------------------- */

.card-info {
    position:relative;
    width: 65%;
    height: 480px;
    background-color:  #FFFFFF;
    overflow: hidden;
    box-shadow: 8px 8px 20px rgb(0, 0, 0, 0.15), 8px -8px 20px rgb(0, 0, 0, 0.15);
}

/* ----------------------- */

.card-info_title {
    text-align: center;
    color: #1b1b1b;
    font-size: 2rem;
    font-weight: 200;
    padding-top: 30px;
    text-transform: uppercase;
}

.card-info_subtitle {
    margin: 0 50px 0 50px;
    font-weight: 300;
    font-size: 12px;
    color: rgb(126, 126, 126);
    padding-bottom: 30px;
    text-align:center;
    text-transform: uppercase;
    /*border-bottom: 1px solid rgba(34, 34, 34, 0.5);*/
}

/* ----------------------- */
.card-info_second-section {
    /*height: 274px;*/
    overflow: hidden;
}

.card-info_text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 30px 60px 30px 60px;
    color: #1b1b1b;
    text-overflow: ellipsis;
    text-align: justify;
}

/* ----------------------- */
.card-info_third-section{
    background-color: #F7FAFC;
    position:absolute;
    bottom:0;
    height:43px;
    width: 100%;
    border-top: 1px solid rgb(216, 216, 216);
}

.card-info_section {
    display: flex;
    justify-content: space-around;
}

.card-info_section p {
    height: 40px;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding: 20px 0 20px 0;
    color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-info_section p:hover {
    border-bottom: 2px solid #2980b9;
}

/* ----------------------- */

.card-info_media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 30px;
    margin: 25px 0px 0 10px;
}

.card-info_github {
    display: none;
    /* PROVISOIR */
}

@media (max-width: 1000px) {
    .card {
        flex-direction: column;
    }

    .card-background_background {
        height: 200px;
        width: 500px;
    }

    .img-front {
        width: 80%;
        bottom: -42%;
        left: -28%;
    }
}

@media (max-width: 850px) {
    .card-background_background {
        height: 200px;
        width: 400px;
    }

    .img-front {
        width: 80%;
        bottom: -15%;
        left: -30%;
    }
}

@media (max-width: 680px) {
    .card-background_background {
        height: 200px;
        width: 320px;
    }

    .img-front {
        width: 80%;
        bottom: -15%;
        left: -30%;
    }
}