*{
    margin:0;
    padding:0;
    font-family: 'Popins', sans-serif;
}

.card-background_img{
    display:none;
}

.container{
    min-height:100vh;
    display :flex;
    justify-content:center;
    align-items: center;
    padding:40px;
}
.card{
    width:45%;
    display:flex;
    justify-content:center;
    align-items:center; // potentiellement a virer pour que les 2 zones fassent la même hauteur
    // width: 860px; 
    padding: 20px;
}

.card-background{
    background-color: red;
    width: 30%;
}

.card-info{
    background-color:blue;
    width: 70%;
}