*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161a1d;
}

.card {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* potentiellement a virer pour que les 2 zones fassent la même hauteur */
    /* width: 860px; */
}


/* ----------------------------------------- LEFT SIDE ----------------------------------------- */

.card-background_background {
    position: relative;
    background-image: url("./img/img2.jfif");
    background-size: cover;
    box-shadow: -8px 8px 20px rgb(0, 0, 0, 0.15), -8px -8px 20px rgb(0, 0, 0, 0.15);
    width: 35%;
    height: 480px;
    /*border-radius: 8px;*/
    /*z-index: 2;
    transform: translateX(20%);*/
    cursor: pointer;
}

/*.card-background_background:hover{
    transform: translateX(0%);
    transition: 1s;
}


@keyframes fadeIn {
    60% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.card-background_background:hover+.card-info {
    transform: translateY(0);
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: 1s;
}

.card-background_background:hover {
    transform: translateX(0%);
    transition: 1s;
}
*/

.background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.img-front {
    position: absolute;
    width: 175%;
    bottom: -2%;
    left: -42%;
}


/* ----------------------------------------- RIGHT SIDE ----------------------------------------- */

.card-info_subtitle

/*.card-info_description, .card-info_section*/
    {
    border-bottom: 1px solid #2b2b2b;
}

.card-info {
    box-shadow: 8px 8px 20px rgb(0, 0, 0, 0.15), 8px -8px 20px rgb(0, 0, 0, 0.15);
    width: 60%;
    /* height: 480px; /* peut être retirable */
    padding: 30px 60px 30px 60px;
    border-radius: 3px;
    background-color: #0b090a;
    display:none;
    /*transform: translateX(-100%);
    z-index: 1;
    visibility: hidden;
    opacity: 0;*/
}




/* ----------------------- */
.card-info_title {
    color: #2980b9;
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
}

.card-info_subtitle {
    font-weight: 300;
    font-size: 1rem;
    color: #f5f3f4;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

/* ----------------------- */
.card-info_description {
    height: 275px;
    overflow: hidden;
}

.card-info_text {
    color: #f5f3f4;
    text-align: justify;
    font-size: 1rem;
    font-weight: 200;
    padding: 30px 0 30px 0;
}

/* ----------------------- */
.card-info_section {
    display: flex;
    justify-content: space-around;
    /*background-color: #1a1517;
    margin-left: -60px;
    margin-right: -60px;*/
}

.card-info_section p {
    margin: 10px;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #f5f3f4;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    /*border-radius:5px;
    border: 1px solid #2980b9;*/
}

.card-info_section p:hover {
    border-bottom: 3px solid #2980b9;
    /*background: rgb(32,101,145);
    background: linear-gradient(138deg, rgb(18, 57, 82) 0%, rgba(69,149,201,1) 40%, rgba(98,193,254,1) 100%);*/
    transition: .5s;
}

/* ----------------------- */
.card-info_media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 30px;
    margin: 25px 0px 0 10px;
}

.card-info_github {
    display: none;
    /* PROVISOIR */
}

@media (max-width: 1000px){
    .card{
        flex-direction: column;
    }

    .card-background_background{
        height: 200px;
        width: 500px;
    }

    .img-front{
    width: 80%;
    bottom: -42%;
    left: -28%;
    }
}

@media (max-width: 850px){
    .card-background_background{
        height: 200px;
        width: 400px;
    }

    .img-front{
    width: 80%;
    bottom: -15%;
    left: -30%;
    }
}

@media (max-width: 680px){
    .card-background_background{
        height: 200px;
        width: 320px;
    }

    .img-front{
    width: 80%;
    bottom: -15%;
    left: -30%;
    }
}